.boards {
  display: flex;
  flex-direction: row;
}
#board {
  /* border: 1px solid red; */
  margin-right: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 25em;
}

.cell {
  border: 1px solid #6686f1;
  height: 3em;
  width: 3em;
}

#ships {
  /* padding: 2em; */
  margin-top: 1em;
}

.ship {
  display: flex;
  flex-direction: row;
  max-width: 30em;
}
.ship-cell {
  border: 1px solid #003afa;
  background-color: #6686f1;
  height: 3em;
  width: 3em;
}

.hit {
  background-color: red;
}
